<h3>Добавить пользователя</h3>
<input type="text" placeholder="Фамилия" [(ngModel)]="user.family">
<input type="text" placeholder="Имя" [(ngModel)]="user.name">
<input type="text" placeholder="Отчество" [(ngModel)]="user.surname">
<button (click)="onButtonClick()">Добавить</button>
